@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
    <div class="main">
        <div class="character">

            <TestTitle 
                Icon="male.png" 
                Heading="@playerInfo?.PlayerName" 
                Description="Citizen of Rogue City"
            />
            <div class="character-preview">
                <div class="left-equipables">
                    @foreach(var equipable in leftEquipables)
                    {
                        <div class="equipable-slot">
                            <img src="@equipable.Value" />
                        </div>
                    }
                </div>

                <div class="character-model"></div>

                <div class="right-equipables">
                    @foreach(var equipable in rightEquipables)
                    {
                        <div class="equipable-slot">
                            <img src="@equipable.Value" />
                        </div>
                    }
                </div>
            </div>
            
            <div class="hotbar-slots"></div>
        </div>
        
        <div class="inventory">


        </div>
    </div>
</root>

@code
{
    public PlayerInfo playerInfo {get; set;}
    protected override void OnStart()
    {
        
    }

    protected override void OnTreeBuilt()
    {
        playerInfo = Scene.GetAllComponents<PlayerInfo>().FirstOrDefault();
    }

    private Dictionary<string, string> leftEquipables = new Dictionary<string, string>()
    {
        {"head", "images/equipables/hat.png"},
        {"glasses", "images/equipables/glasses.png"},
        {"shirt", "images/equipables/shirt.png"},
        {"armor", "images/equipables/vest.png"},
        {"pants", "images/equipables/pants.png"},
        {"backpack", "images/equipables/backpack.png"}
    };

    private Dictionary<string, string> rightEquipables = new Dictionary<string, string>()
    {
        {"mask", "images/equipables/sword.png"},
        {"earings", "images/equipables/shield.png"},
        {"necklace", "images/equipables/ring.png"},
        {"ring", "images/equipables/ring.png"},
        {"watch", "images/equipables/amulet.png"},
        {"shoes", "images/equipables/amulet.png"},
    };
}
