@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Sandbox

<root>
	<div class="card">
		<div class="player-name">
			@($"Character: {PlayerName}")
		</div>

		<div class="player-rank">
			@($"Rank: {PlayerRank}")
		</div>

		<div class="player-cash">
			@($"Cash: {PlayerCash.ToString()}")
		</div>

		<div class="player-bank">
			@($"Bank: {PlayerBank.ToString()}")
		</div>

	</div>
</root>

@code
{

	public PlayerInfo playerInfo {get; set;}

	public string PlayerName {get; set;}
	public string PlayerRank {get; set;}
	public float PlayerCash {get; set;}
	public float PlayerBank {get; set;}

}