@import "UI/Animations.scss";
@import "UI/Global.scss";

TestTitle
{
    display: flex;
    gap: 1rem;
    align-items: center;
    font-family: "Montserrat", sans-serif;

    .icon
    {
        padding: .5rem;
        height: auto;
        width: 46px;
        background-color: $accent;
        border-radius: .6rem;
    }

    .info
    {
        display: flex;
        flex-direction: column;
    }

    .heading
    {
        color: $accent;
        font-size: 20px;
        font-weight: 800;
    }

    .description
    {
        color: white;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
    }
}