@import "UI/Globals/Global.scss";
@import "UI/Globals/Animations.scss";

PlayerCard
{
    .card
    {
        font-family: 'Montserrat';
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: $primary-20;
        border: 1px solid $primary-30;
        padding: 2rem;
        border-radius: 1rem;
        cursor: pointer;
        gap: 1rem;
    }

}