@import "UI/Globals/Animations.scss";
@import "UI/Globals/Global.scss";

InventoryPanel
{
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;	
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Montserrat", sans-serif;
	pointer-events: all;
	

	.main
	{
		display: flex;
		flex-direction: row;
		height: 100%;
		width: 100%;
		background-color: rgba(4, 5, 12, 0.959);
		backdrop-filter: blur(5px);
	}

	.character, .inventory
	{
		padding: 5rem;
	}

	.character
	{
		position: relative;
		width: 30%;
		height: 100%;
		display: flex;
		flex-direction: column;

		.skeleton
		{
			margin-top: 3rem;
			width: 100%;
			height: 50%;
			display: flex;
			justify-content: center;
			align-items: center;

			.body
			{
				width: 40%;
				height: auto;
			}
		}

		.personal-info
		{
			margin-top: 10rem;
			display: flex;
			flex-direction: column;
			gap: 2rem;
			color: white;
			justify-content: center;
			align-items: flex-start;

			h3 
			{
				font-size: 22px;
				font-weight: 600;
			}

			.section-one, .section-two
			{
				display: flex;
				gap: 20rem;

				.vehicle, .rank, .phone, .house
				{
					display: flex;
					flex-direction: column;
					gap: .5rem;
					border-left: 4px solid $accent;
					padding-left: .5rem;
				}
			}

		}

	}


	.inventory
	{
		position: relative;
		width: auto;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: flex-start;

		.player
		{
			display: flex;
			flex-direction: column;

			.slots
			{
				display: flex;
				gap: 10px;
				flex-wrap: wrap;
				width: 547px;
				height: 325px;

				.slot
				{
					position: relative;
					background-color: rgba(189, 189, 189, 0.089);
					width: 100px;
					height: 100px;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;

					img
					{
						width: 80%;
						height: 80%;
					}

					&:hover
					{
						outline: 2px solid $accent;
						outline-offset: -2px;
					}

					&:focus
					{
						outline: 2px solid $accent;
						outline-offset: -2px;
						background-color: $accent-dark;
					}

					&.dragging
					{
						opacity: 0.3;
					}

					&.hovered
					{
						outline: 2px solid $accent;
						outline-offset: -2px;
						background-color: rgba(255, 255, 255, 0.1);
					}

					.hotbar-number
					{
						position: absolute;
						top: 0;
						left: 0;
						width: 20px;
						height: 20px;
						background-color: $accent;
						color: white;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
		}
	}

	// .drag-ghost
	// {
	// 	position: absolute;
	// 	pointer-events: none;
	// 	width: 60px;
	// 	height: 60px;
	// 	z-index: 999;
	// 	opacity: 0.8;
	// 	transform: translate(-50%, -50%);

	// 	img
	// 	{
	// 		width: 100%;
	// 		height: 100%;
	// 	}
	// }

	.character-preview
	{
		width: 100%;
		height: 100%;
	}
}